<?xml version="1.0"?>

<robot name="babybot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- gazebo ros2 control - simple controller -->
    <ros2_control name="Babybot Control System" type="system">
        <!-- simulated robot -->
        <xacro:if value="$(arg is_sim)">    
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
        </xacro:if>

        <!-- real robot -->
        <xacro:unless value="$(arg is_sim)">
            <hardware>
                <plugin>babybot_firmware/BabybotInterface</plugin>
                <param name="port">/dev/ttyACM0</param>
            </hardware>       
        </xacro:unless>

        <joint name="wheel_left_joint">
            <!-- set PWM value range from -1 to 1 -->
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="wheel_right_joint">
            <!-- set PWM value range from -1 to 1 -->
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    
    
</robot>
